@page
@model BSVisionCalculator.Pages.HelpModel
@{
}

<p>BSVisionCalculator is a tool for <a href="https://beatsaber.com/">Beat Saber</a> mappers. Its purpose is to provide some number ranges on positions of map objects that will respect certain vision parameters for a specific map, so that mappers can use this information to safely place them without having to check in-game.</p>
<p>You should have basic mapping knowledge to use this tool properly. Please head over to the <a href="https://bsmg.wiki/mapping/">BSMG mapping wiki</a> if you're new to mapping and haven't already checked it. You can also head over to the <a href="https://discord.gg/beatsabermods">Beat Saber Modding Group Discord server</a> and ask around in the #mapping-discussion channel.</p>
<p>Check out <a href="https://www.youtube.com/watch?v=noGaEdhX14Y">this video</a> for a quick walkthrough of how to use BSVisionCalculator.</p>
<p>If you have any issues, comments, compliments, complaints, suggestions or bugs to report, you can reach out to me on Discord: Undeceiver#3265.</p>
<p>There may be some functionalities you would expect BSVisionCalculator to have that are currently not present. This tool is still on an early version, and its evolution is not certain. Apart from bug fixes and UI improvements, two key main features not currently available but planned for the short to mid-term are:
    <ul>
        <li><strong>Map check</strong>. Be able to upload your map and get a detailed list of vision problems in it.</li>
        <li><strong>Chromapper plugin</strong>. So that you can have access to the features of the tool dynamically and integrated with Chromapper's user interface.</li>
    </ul>
</p>
<p>BSVisionCalculator is open source. You can access the code on the <a href="https://github.com/Undeceiver/BSVisionCalculator">GitHub repository</a>.</p>