@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p><a href="VisionCalculationTests">Vision Calculation Tests</a></p>
    <p><a href="RealTimeVisionStateTests">Real Time Vision State Calculation Tests</a></p>
    <p><a href="RealTimeRegimeTests">Real Time Regime Calculation Tests</a></p>
    <p><a href="RelativeTimeRegimeTests">Relative Time Regime Calculation Tests</a></p>
</div>
