@page
@model BSVisionCalculator.Pages.VisionCalculationTestsModel
@{
    ViewData["Title"] = "Vision Calculation Tests";
}


<div class="text-center">
    <p><strong>Test 1</strong></p>
    @Html.Raw(ViewData["test1"])
    <p><strong>Test 2</strong></p>
    @Html.Raw(ViewData["test2"])
    <p><strong>Test 3</strong></p>
    @Html.Raw(ViewData["test3"])
    <p><strong>Test 4</strong></p>
    @Html.Raw(ViewData["test4"])
</div>
